{%extends 'base.html'%}

{%block 'titulo'%}Home{%endblock%}

{%block 'conteudo'%}
    <h1>Aqui fica a home!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, sint ducimus? Pariatur illum dolorem recusandae
        consequuntur beatae natus quia. Quas similique laudantium beatae deserunt accusantium alias quos ipsum sequi ipsam?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, sint ducimus? Pariatur illum dolorem recusandae
        consequuntur beatae natus quia. Quas similique laudantium beatae deserunt accusantium alias quos ipsum sequi ipsam?
    </p>
{%endblock%}